.gallery-section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    padding-top: 60px;
    font-family: Montserrat, sans-serif;
}

.gallery-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-title-group {
    display: flex;
    align-items: center;
    gap: 14px;
}

.gallery-title-group img {
    width: 77px;
    height: 77px;
}

.gallery-title {
    font-size: 46px;
    font-family: Acme, sans-serif;
    color: #FF8800;
    text-transform: capitalize;
}

.gallery-view-all {
    padding: 10px 28px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    background: linear-gradient(180deg, rgba(255, 136, 0, 0.1), rgba(241, 52, 51, 0.1));
    cursor: pointer;
}

.gallery-view-all span {
    font-size: 15px;
    font-weight: 500;
    color: #FF8800;
    text-transform: capitalize;
}

.arrow-icon {
    width: 26px;
    height: 26px;
    background: linear-gradient(180deg, #FF8800 0%, #F13433 100%);
    clip-path: polygon(30% 35%, 70% 50%, 30% 65%);
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    height: 409px;
    align-items: center;
}

.gallery-images img {
    width: 284px;
    border-radius: 10px;
    object-fit: cover;
    height: 327px;
}

.gallery-images img:nth-child(2) {
    height: 409px;
}

.gallery-dots {
    display: flex;
    gap: 14px;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.dot.active {
    background: linear-gradient(180deg, #FF8800 0%, #F13433 100%);
}