.services {
  width: 1200px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: white;
  font-family: 'SVN-Gilroy', sans-serif;
  background-color: #8E5747;
}

.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.decor-img {
  width: 181px;
  height: 124px;
}

.decor-bg {
  width: 180px;
  height: 122px;
  /* background: rgba(0, 0, 0, 0.04); */
  position: absolute;
  top: 0;
}

.services-title-block {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.services-title {
  color: #FFC300;
  font-size: 46px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}

.services-desc {
  width: 1000px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.services-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.service-item {
  width: 387px;
  height: 520px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(182deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.service-content {
  position: absolute;
  bottom: 30px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 290px;
}

.service-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 21px;
  background-color: #FF8800;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
}

.label-icon {
  width: 15px;
  height: 14px;
  background: white;
}

.service-name {
  font-size: 26px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}