body {
    margin: 0;
    font-family: 'SVN-Gilroy', sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: white;
}

.header-overlay {
    background-color: #8E5747;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(1.5px);
    z-index: 0;
}

.header-container {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.logo {
    width: 127px;
    height: 127px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav a {
    color: white;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
}

.search-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 5px;
    gap: 8px;
}

.search-box span {
    font-size: 13px;
    color: white;
    font-style: italic;
}

.search-icon {
    width: 17px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
}

.book-button {
    padding: 14px 28px;
    background: linear-gradient(180deg, #FF8800 0%, #F13433 100%);
    border-radius: 56px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}