.pickleball-section {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  margin-bottom: 100px;
}

.pickleball-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickleball-header img {
  width: 180.56px;
  height: 124px;
}

.pickleball-bg {
  width: 180.19px;
  height: 122.06px;
  background: rgba(0, 0, 0, 0.04);
}

.pickleball-title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 10px;
}

.pickleball-title {
  color: #FFC300;
  font-size: 46px;
  font-family: 'SVN-Gilroy', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.pickleball-desc {
  width: 1000px;
  text-align: center;
  font-family: 'SVN-Gilroy', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: white;
  text-transform: capitalize;
  font-weight: 400;
}

.pickleball-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pickleball-card {
  width: 590px;
  height: 415px;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.pickleball-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.pickleball-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}

.card-buttons {
  position: absolute;
  left: 37px;
  bottom: 30px;
  display: flex;
  gap: 17px;
  align-items: center;
}

.btn {
  padding: 16px 21px;
  border-radius: 30px;
  font-family: 'SVN-Gilroy', sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.primary {
  background: #FF8800;
  color: white;
  font-weight: 500;
}

.btn-outline {
  border: 1px solid #FFC300;
  padding: 16px 17px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.btn-outline .dot {
  width: 13.69px;
  height: 14px;
  background: linear-gradient(270deg, #FFC300 0%, #FF8800 100%), #F2C979;
  border-radius: 50%;
}

.btn-outline .text {
  margin-left: 10px;
}
