.news-section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    position: relative;
    margin-bottom: 50px;
}

.news-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-logo {
    width: 180.56px;
    height: 124px;
}

.news-background {
    width: 180.19px;
    height: 122.06px;
    background: rgba(0, 0, 0, 0.04);
}

.news-title-group {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.news-title {
    font-family: Acme;
    font-size: 46px;
    font-weight: 400;
    text-transform: capitalize;
    color: #FFC300;
}

.news-title .text-uppercase {
    text-transform: uppercase;
}

.news-description {
    width: 1000px;
    text-align: center;
    font-family: 'SVN-Gilroy';
    font-size: 14px;
    line-height: 24px;
    color: white;
}

.news-card-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.news-card {
    background: white;
    border-radius: 14px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 386px;
}

.news-card:nth-child(2) {
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.18);
}

.news-image {
    width: 386px;
    height: 293px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.news-button {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 40px;
    outline: 1px solid #FF8800;
    padding: 10px 25px;
}

.btn-text {
    color: #FF8800;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
}

.btn-icon {
    width: 26px;
    height: 26px;
    position: relative;
}

.btn-arrow {
    width: 14.08px;
    height: 10.29px;
    position: absolute;
    left: 6.23px;
    top: 7.85px;
    background: linear-gradient(180deg, #FF8800 0%, #F13433 100%);
}

.news-content {
    width: 359px;
    text-align: center;
    color: black;
    font-family: 'SVN-Gilroy';
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 28px;
}