<header class="header">
    <div class="header-overlay"></div>
    <div class="header-container">
        <img src="img/logo.png" alt="Logo" class="logo">
        <nav class="nav">
            <a href="#">trang chủ</a>
            <a href="#">giới thiệu</a>
            <a href="#">dịch vụ</a>
            <a href="#">album hình</a>
            <a href="#">tin tức</a>
            <a href="#">liên hệ</a>
            <div class="search-box">
                <span><i>tìm</i> <i>kiếm ngay</i></span>
                <div class="search-icon"></div>
            </div>
            <button class="book-button">đặt lịch ngay</button>
        </nav>
    </div>
</header>