<section class="news-section">
    <div class="news-header">
        <img class="news-logo" src="https://placehold.co/181x124" alt="logo" />
        <div class="news-background"></div>
        <div class="news-title-group">
            <div class="news-title">
                <span class="text-highlight">tin tức tại </span>
                <span class="text-uppercase">l.a</span>
            </div>
            <div class="news-description">
                <span class="desc-cap">Lorem</span>
                <span class="desc-body">
                    Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in
                    ấn. Lorem Ipsum đã được sử dụng như một văn bản chuẩn cho ngành công nghiệp in ấn từ những năm 1500
                </span>
            </div>
        </div>
    </div>

    <div class="news-card-list">
        <!-- Lặp 3 lần -->
        <div class="news-card">
            <img class="news-image" src="https://placehold.co/386x293" alt="tin tức" />
            <div class="news-button">
                <div class="btn-text">Xem chi Tiết</div>
                <div class="btn-icon">
                    <div class="btn-arrow"></div>
                </div>
            </div>
            <div class="news-content">
                Cập Nhật Hoạt Động & Giải Đấu Thể Thao – Bida, Pickleball & Bơi Lội
            </div>
        </div>
        <div class="news-card">
            <img class="news-image" src="https://placehold.co/386x293" alt="tin tức" />
            <div class="news-button">
                <div class="btn-text">Xem chi Tiết</div>
                <div class="btn-icon">
                    <div class="btn-arrow"></div>
                </div>
            </div>
            <div class="news-content">
                Cập Nhật Hoạt Động & Giải Đấu Thể Thao – Bida, Pickleball & Bơi Lội
            </div>
        </div>
        <div class="news-card">
            <img class="news-image" src="https://placehold.co/386x293" alt="tin tức" />
            <div class="news-button">
                <div class="btn-text">Xem chi Tiết</div>
                <div class="btn-icon">
                    <div class="btn-arrow"></div>
                </div>
            </div>
            <div class="news-content">
                Cập Nhật Hoạt Động & Giải Đấu Thể Thao – Bida, Pickleball & Bơi Lội
            </div>
        </div>
        <!-- Thêm 2 card nữa tương tự -->
    </div>
</section>